body {
  font-family: "Ubuntu";
  padding-top: 54px;
  color: #6c757d;
  outline: black;
}

#quote {
  position:static;
  bottom: 100px;
}
#quote-m {
  position: static;
  bottom: 160px;
}
#quotes-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media ( max-width: 772px) {
  #quotes-parent{
    position: static;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  /*#quote {
    
    top: 550px;
    padding-top: 20px;
  }
  #quote-m {
    
    bottom: auto;
    padding-bottom: 700px;
  }*/
  
}
@media ( max-width: 496px) {
  #quote {
    padding: bottom 20%; 
    top: 650px;
    padding-top: 10px ;
  }
  #quote-m {
    padding-top: 10%;
    bottom: auto;
  }
  
}
@media ( max-width: 300px) {
  #quote {
    
    top: 750px;
    padding-top: 150px;
  }
  #quote-m {
    
    bottom: auto;
    padding-bottom: 200px;
  }
  
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
    outline: black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu";
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}
h1 {
  font-size: 4rem;
  line-height: 5.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.site-title a {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  text-decoration: none;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.2rem;
  font-weight: 550;
  
}

.sub-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Ubuntu";
  font-size: 1.2rem;
}

.social-icons a {
  display: inline-block;
  height: 3rem;
  width: 1rem;
  color: black !important;
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
  margin: auto;
  /* margin-right: 1rem;
  margin-left: 2rem; */
}

.social-icons a:last-child {
  margin-right: 0;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #1874cd;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}
/*.nav-item{
  color: black;
  display: block;
  font-weight: bold;
}*/
.nav-item:hover{
  font-size: 30px;
  transition: font-size 0.2s ease-in-out;
  color:#007bff;
}
#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: black;
    display: block;
    font-weight: bold;
  }
}


section.profile-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.profile-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.profile-section {
    min-height: 100vh;
  }
  section.profile-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.profile-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: white !important;
}

.text-primary {
  color: black !important;
}

a {
  color: black;
}

a:hover,
a:focus,
a:active {
  color: #007bff;
}